.container[data-v-24c4c19e]{
  transition:none
}
.container[data-v-742117ce]{
  transition:none
}
.container.page-enter[data-v-742117ce],.container.page-leave-to[data-v-742117ce]{
  opacity:0
}
.container.page-enter-active[data-v-742117ce],.container.page-leave-active[data-v-742117ce]{
  transition:.3s cubic-bezier(.4,.4,0,1)
}
.n-visible .notification-wrapper[data-v-cc9ed42a] {
  overflow: visible
}
@keyframes loading-spin-ea7b3a3a{
  0%{
      transform:rotate(0)
  }
  to{
      transform:rotate(1turn)
  }
}
.product-font-style[data-v-4b268d44]{
  transition:.4s cubic-bezier(.4,.4,0,1)
}
.StudioCanvas{
  display:flex;
  height:auto;
  min-height:100vh
}
.StudioCanvas>.my_style_one{
  min-height:100vh;
  overflow:hidden
}
a,b,body,dd,div,form,h1,h2,h3,h4,h5,h6,header,html,i,img,menu,p,q,span,summary,time{
  border:0;
  box-sizing:border-box;
  color:#333;
  font-family:sans-serif;
  line-height:1;
  list-style:none;
  margin:0;
  padding:0;
  text-decoration:none;
  transition:.3s cubic-bezier(.4,.4,0,1);
  word-spacing:1px
}
a:focus:not(:focus-visible),summary:focus:not(:focus-visible){
  box-shadow:none;
  outline:0
}
q{
  quotes:none
}
q:after,q:before{
  content:none
}
a{
  background:0 0;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline
}
.my_style_one{
  -webkit-overflow-scrolling:touch;
  align-content:center;
  align-items:center;
  display:flex;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  max-width:100%;
  pointer-events:all;
  position:relative;
  z-index:0
}
.my_style_one::-webkit-scrollbar{
  display:none
}
.my_style_one[tabindex]:focus{
  outline:0
}
.my_style_one[tabindex]:focus-visible{
  outline:1px solid;
  outline-color:Highlight;
}
.image{
  position:relative
}
.image:before{
  background-position:50%;
  background-size:cover;
  border-radius:inherit;
  content:"";
  height:100%;
  left:0;
  pointer-events:none;
  position:absolute;
  top:0;
  transition:inherit;
  width:100%;
  z-index:-2
}
.my_style_one.icon,.my_style_one.text{
  align-content:center;
  align-items:center;
  display:flex;
  flex-direction:row;
  justify-content:center;
  overflow:visible;
  overflow-wrap:anywhere;
  word-break:break-word
}
a,a.icon,a.text{
  -webkit-tap-highlight-color:rgba(0,0,0,.15)
}
.link{
  cursor:pointer
}
.text_one{
  display:block;
  word-break:break-word
}
.text_one [data-thread],.text_one a,.text_one h1,.text_one h2,.text_one h3,.text_one h4,.text_one p,.text_one s,.text_one u{
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  text-align:inherit
}
.text_one p{
  display:block;
  margin:10px 0
}
.text_one>p{
  min-height:1em
}
.text_one img{
  height:auto;
  max-width:100%;
  vertical-align:bottom
}
.text_one h1{
  display:block;
  font-size:3em;
  font-weight:700;
  margin:20px 0
}
.text_one h2{
  font-size:2em
}
.text_one h2,.text_one h3{
  display:block;
  font-weight:700;
  margin:10px 0
}
.text_one h3{
  font-size:1em
}
.text_one h4,.text_one h5{
  font-weight:600
}
.text_one h4,.text_one h5,.text_one h6{
  display:block;
  font-size:1em;
  margin:10px 0
}
.text_one h6{
  font-weight:500
}
.text_one [data-type=table]{
  overflow-x:auto
}
.text_one [data-type=table] p{
  white-space:pre-line;
  word-break:break-all
}
.text_one [data-type=embed_code]{
  margin:20px 0;
  position:relative
}
.text_one [data-type=embed_code_empty]{
  display:none
}
.text_one a,.text_one u{
  text-decoration:underline
}
.text_one a{
  color:#007cff;
  display:inline
}
.text_one s{
  text-decoration:line-through
}
.text_one [data-type=table_of_contents]{
  background-color:#f5f5f5;
  border-radius:2px;
  color:#616161;
  font-size:16px;
  list-style:none;
  margin:0;
  padding:24px 24px 8px;
  text-decoration:underline
}
a[data-v-4319ed3b]{
  align-content:center;
  align-items:center;
  background-color:#fff;
  border-radius:4px;
  bottom:20px;
  box-shadow:0 2px 4px #00000024;
  display:flex;
  height:28px;
  justify-content:center;
  left:20px;
  padding:0 12px;
  perspective:300px;
  position:fixed;
  transition:0s linear;
  width:auto;
  z-index:2000
}
.icon[data-v-89140301]{
  height:140px;
  position:relative;
  transform:rotate(45deg);
  transition:.6s cubic-bezier(.4,.4,0,1);
  width:14px
}
.TitleAnnouncer[data-v-baaafa30]{
  clip:rect(0,0,0,0);
  border-width:0;
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:1px
}
.vue-notification-group{
  display:block;
  position:fixed;
  z-index:5000
}
.vue-notification-wrapper{
  display:block;
  overflow:hidden;
  width:100%;
  margin:0;
  padding:0
}
.notification-title{
  font-weight:600
}
.vue-notification{
  display:block;
  box-sizing:border-box;
  text-align:left;
  font-size:12px;
  padding:10px;
  margin:0 5px 5px;
  color:#fff;
  background:#44a4fc;
  border-left:5px solid #187fe7
}
.my_style_one[data-s-66e5ee07-e9fb-47f8-96c6-d2ee282a96e5]{
  align-content:center;
  align-items:center;
  background:#1a1c19;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-start;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-43c367af-2468-4f19-8f45-6dd6ba69f82f]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:900px;
  justify-content:flex-start;
  padding:10px;
  width:1440px;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one{
      flex:none;
      height:960px;
      max-width:100%
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-43c367af-2468-4f19-8f45-6dd6ba69f82f]{
      flex:none;
      height:auto;
      max-width:100%
  }
}
.my_style_one[data-s-f7ae86e2-a3b0-43bc-b76c-e1b00c6408a2]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:28px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:56px;
  justify-content:space-between;
  padding:3px;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-f7ae86e2-a3b0-43bc-b76c-e1b00c6408a2].appear{
  opacity:0;
  transform:translate(0,30px);
  transition-delay:.3s;
  transition-duration:1s
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-f7ae86e2-a3b0-43bc-b76c-e1b00c6408a2].appear{
      transition-delay:0s
  }
}
.my_style_one[data-s-5d37ec4a-4c06-4ce9-8bbb-c2b918a25e6e]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  padding:0;
  max-width:100%
}
@media screen and (max-width:840px){
  .my_style_one[data-s-5d37ec4a-4c06-4ce9-8bbb-c2b918a25e6e]{
      flex:1;
      width:auto;
      max-width:100%;
      height:100%
  }
}
.my_style_one[data-s-70b4b1ae-e818-4725-bd90-09aac9caf70e]{
  align-content:center;
  align-items:center;
  background:rgba(155,134,79,.2);
  border-radius:32px;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0 3px 0 0;
  width:370px;
  max-width:calc(100% - 3px)
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-70b4b1ae-e818-4725-bd90-09aac9caf70e]{
      flex:none;
      width:200px;
      max-width:calc(100% - 3px);
      height:100%
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-70b4b1ae-e818-4725-bd90-09aac9caf70e]{
      flex:none;
      width:calc(100% - 3px);
      max-width:calc(100% - 3px);
      height:100%
  }
}
.my_style_one[data-s-08527032-041f-4892-98c3-53ce43e9386b]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:32px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0 3px 0 0;
  padding:0 40px 0;
  width:auto;
  max-width:calc(100% - 3px)
}
.my_style_one[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe]:hover{
  background:#e0d6c2
}
@media screen and (max-width:840px){
  .my_style_one[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe]{
      display:none
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe]{
      display:none
  }
}
.my_style_one[data-s-d6a40beb-3f31-40aa-90ab-f38f5a03ad14]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe]:hover .my_style_one[data-s-d6a40beb-3f31-40aa-90ab-f38f5a03ad14]{
  color:#1a1c19
}
.my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:32px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0 3px 0 0;
  padding:0 40px 0;
  width:auto;
  max-width:calc(100% - 3px)
}
.my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]:hover{
  background:#e0d6c2
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]{
      justify-content:center
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]{
      display:none
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]{
      display:none
  }
}
.my_style_one[data-s-04924ba5-ccb7-483f-b1e2-33b321a2e0f3]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-615180df-b96e-4c21-839d-91d35b2e5776]:hover .my_style_one[data-s-04924ba5-ccb7-483f-b1e2-33b321a2e0f3]{
  color:#1a1c19
}
.my_style_one[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:32px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0 3px 0 0;
  padding:0 40px 0;
  width:auto;
  max-width:calc(100% - 3px)
}
.my_style_one[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49]:hover{
  background:#e0d6c2
}
@media screen and (max-width:840px){
  .my_style_one[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49]{
      display:none
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49]{
      display:none
  }
}
.my_style_one[data-s-c3a55dcb-0b6d-4647-9505-ac9bd2d37525]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49]:hover .my_style_one[data-s-c3a55dcb-0b6d-4647-9505-ac9bd2d37525]{
  color:#1a1c19
}
.my_style_one[data-s-6c284828-a709-48c0-8b6e-a588946b065b]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:32px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0;
  padding:0 40px 0;
  width:auto;
  max-width:100%
}
.my_style_one[data-s-6c284828-a709-48c0-8b6e-a588946b065b]:hover{
  background:#e0d6c2
}
@media screen and (max-width:840px){
  .my_style_one[data-s-6c284828-a709-48c0-8b6e-a588946b065b]{
      display:none
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-6c284828-a709-48c0-8b6e-a588946b065b]{
      display:none
  }
}
.my_style_one[data-s-03b81cad-45e2-4ebb-b349-d7927f4d0daa]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-6c284828-a709-48c0-8b6e-a588946b065b]:hover .my_style_one[data-s-03b81cad-45e2-4ebb-b349-d7927f4d0daa]{
  color:#1a1c19
}
.my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #e0d6c2;
  border-left:1px solid #e0d6c2;
  border-radius:32px;
  border-right:1px solid #e0d6c2;
  border-top:1px solid #e0d6c2;
  display:none;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0;
  padding:0 40px 0;
  width:auto;
  max-width:100%
}
.my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]:hover{
  background:#e0d6c2
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]{
      display:none
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]{
      display:flex
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]{
      display:flex
  }
}
.my_style_one[data-s-9fa38d97-df72-4e04-b304-a1a4d2b37a16]{
  color:#e0d6c2;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-a76b8d3a-f770-4b12-8a30-061890747caa]:hover .my_style_one[data-s-9fa38d97-df72-4e04-b304-a1a4d2b37a16]{
  color:#1a1c19
}
.my_style_one[data-s-aa7752f8-55a1-40f2-a2d1-027ed28c951e]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  flex:1;
  flex-direction:row;
  flex-wrap:nowrap;
  height:auto;
  justify-content:flex-start;
  margin:10px 0 0 0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:840px){
  .my_style_one[data-s-aa7752f8-55a1-40f2-a2d1-027ed28c951e]{
      flex:none;
      flex-direction:column;
      flex-wrap:nowrap;
      height:auto
  }
}
.my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96]{
  align-content:flex-start;
  align-items:flex-start;
  background:#e0d6c2;
  border-bottom:0 solid rgba(0,0,0,.35);
  border-left:0 solid rgba(0,0,0,.35);
  border-radius:30px;
  border-right:0 solid rgba(0,0,0,.35);
  border-top:0 solid rgba(0,0,0,.35);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-end;
  margin:0 10px 0 0;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:calc(33% - 10px);
  max-width:calc(33% - 10px)
}
.my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96].appear{
  opacity:0;
  transform:translate(0,30px);
  transition-delay:.4s;
  transition-duration:1s
}
.my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96]:hover{
  background:#e0d6c2
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96].appear{
      transition-delay:0s
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96]{
      margin:0;
      width:100%;
      max-width:100%;
      height:100%
  }
}
.my_style_one[data-s-58a7cdbd-305c-4425-9fda-78cd31f3c7a0]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:flex-start;
  padding:30px;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-58a7cdbd-305c-4425-9fda-78cd31f3c7a0]{
      padding:25px
  }
}
.my_style_one[data-s-e5e69bad-8297-4b15-ab78-190cadb241cd]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #342415;
  border-left:1px solid #342415;
  border-radius:14px;
  border-right:1px solid #342415;
  border-top:1px solid #342415;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  padding:0 5px 0;
  width:auto;
  max-width:100%
}
.my_style_one[data-s-92b9bed2-9fc5-4666-8dfa-cc9fe8625c7a]{
  color:#342415;
  font-size:18px;
  font-weight:400;
  height:auto;
  letter-spacing:-.04em;
  line-height:1;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-d6096a1d-a7b1-466f-914e-51121daaef92]{
  color:#342415;
  flex:none;
  font-size:16px;
  font-weight:400;
  height:auto;
  line-height:1.1;
  margin:30px 0 0 0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-d6096a1d-a7b1-466f-914e-51121daaef92]>h2{
  letter-spacing:-.04em;
  margin:0
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-d6096a1d-a7b1-466f-914e-51121daaef92]>h2{
      font-size:28px
  }
}
.my_style_one[data-s-1c4a78fd-91cb-473d-9d0b-43c1a62545e3]{
  align-content:center;
  align-items:center;
  border-radius:18px;
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  margin:0 15px 0;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:calc(100% - 30px);
  max-width:calc(100% - 30px)
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-1c4a78fd-91cb-473d-9d0b-43c1a62545e3]{
      margin:0 10px 0;
      width:calc(100% - 20px);
      max-width:calc(100% - 20px)
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-1c4a78fd-91cb-473d-9d0b-43c1a62545e3]{
      flex:none;
      height:240px;
      width:calc(100% - 20px);
      max-width:calc(100% - 20px)
  }
}
.my_style_one[data-s-7236f862-b350-418b-a1c3-37b08bc7e5d5]{
  border-radius:0;
  flex:none;
  height:100%;
  margin:0 0 0;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0 0 0;
  transition-duration:1s;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-a8a27e55-b8ea-48fe-a879-1a21f9615928]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:0 solid rgba(52,36,21,.35);
  border-left:0 solid rgba(52,36,21,.35);
  border-right:0 solid rgba(52,36,21,.35);
  border-top:1px solid rgba(52,36,21,.35);
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:65px;
  justify-content:space-between;
  margin:30px 0 0 0;
  padding:0 30px 0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-a8a27e55-b8ea-48fe-a879-1a21f9615928]{
      padding:0 25px 0
  }
}
.my_style_one[data-s-06110791-fc40-46c0-8c6a-a3e92c7f3b59]{
  color:#342415;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-871a0bad-d548-4b9e-93b0-0c5e27e741e6]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:16px;
  justify-content:flex-end;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-49b6fb76-2bc2-4bd5-b3eb-67eae20e141d]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-22139544-b819-403e-bcf7-3cec0c190fe5]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96]:hover .my_style_one[data-s-22139544-b819-403e-bcf7-3cec0c190fe5]{
  margin:0 -16px 0 0;
  max-width:calc(100% - -16px)
}
.my_style_one[data-s-3424b9de-16ad-434e-a050-08a62d54f047]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  border-radius:0;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-end;
  margin:0;
  width:67%;
  max-width:67%
}
@media screen and (max-width:840px){
  .my_style_one[data-s-3424b9de-16ad-434e-a050-08a62d54f047]{
      margin:10px 0 0 0;
      width:100%;
      max-width:100%;
      height:calc(100% - 10px)
  }
}
.my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf]{
  align-content:flex-start;
  align-items:flex-start;
  background:#8f8868;
  border-radius:30px;
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:flex-end;
  margin:0 0 0;
  overflow-x:hidden;
  overflow-y:hidden;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf].appear{
  opacity:0;
  transform:translate(0,30px);
  transition-delay:.5s;
  transition-duration:1s
}
.my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf]:hover{
  background:#8f8868
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf].appear{
      transition-delay:0s
  }
}
@media screen and (max-width:840px){
  .my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf]{
      flex:none;
      height:380px;
      width:100%;
      max-width:100%
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf]{
      flex:none;
      height:auto;
      width:100%;
      max-width:100%
  }
}
.my_style_one[data-s-c36054f6-ef51-4937-a799-c2dc4a8d6ade]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  flex:1;
  flex-direction:row;
  flex-wrap:nowrap;
  height:auto;
  justify-content:flex-start;
  padding:30px 30px 0 30px;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-c36054f6-ef51-4937-a799-c2dc4a8d6ade]{
      padding:25px 25px 0 25px
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-c36054f6-ef51-4937-a799-c2dc4a8d6ade]{
      flex-direction:column;
      flex-wrap:nowrap
  }
}
.my_style_one[data-s-899c2c8d-cf8e-46e7-a442-a99fcff4159a]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-start;
  margin:0 5px 0 0;
  width:calc(50% - 5px);
  max-width:calc(50% - 5px)
}
@media screen and (max-width:540px){
  .my_style_one[data-s-899c2c8d-cf8e-46e7-a442-a99fcff4159a]{
      margin:0;
      width:100%;
      max-width:100%;
      height:100%
  }
}
.my_style_one[data-s-4bff2df4-2571-45f2-9670-e9db348e122d]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #342415;
  border-left:1px solid #342415;
  border-radius:14px;
  border-right:1px solid #342415;
  border-top:1px solid #342415;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  padding:0 5px 0;
  width:auto;
  max-width:100%
}
.my_style_one[data-s-62276f85-3e31-4aab-8408-4ce0beb31d56]{
  color:#342415;
  font-size:18px;
  font-weight:400;
  height:auto;
  letter-spacing:-.04em;
  line-height:1;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-377093fd-79dc-406f-93fd-f739ca23ad72]{
  color:#342415;
  flex:none;
  font-size:16px;
  font-weight:400;
  height:auto;
  line-height:1.1;
  margin:30px 0 30px 0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-377093fd-79dc-406f-93fd-f739ca23ad72]>h2{
  letter-spacing:-.04em;
  margin:0
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-377093fd-79dc-406f-93fd-f739ca23ad72]>h2{
      font-size:28px
  }
}
.my_style_one[data-s-525558e4-d9f5-4944-81be-4cb7978578f8]{
  color:#342415;
  flex:none;
  font-size:14px;
  font-weight:500;
  height:auto;
  line-height:1.4;
  margin:0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-525558e4-d9f5-4944-81be-4cb7978578f8]>p{
  margin:0
}
.my_style_one[data-s-0934888e-b965-47c5-8368-7ad616be6839]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-radius:18px;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:center;
  margin:0 0 0 35px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:calc(50% - 35px);
  max-width:calc(50% - 35px)
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-0934888e-b965-47c5-8368-7ad616be6839]{
      margin:0 0 0 30px;
      width:calc(50% - 30px);
      max-width:calc(50% - 30px);
      height:100%
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-0934888e-b965-47c5-8368-7ad616be6839]{
      flex:none;
      height:240px;
      margin:30px 0 0 0;
      width:100%;
      max-width:100%
  }
}
.my_style_one[data-s-4f1ec42e-0134-45f0-a19b-a33a621e183d]{
  flex:none;
  height:100%;
  margin:0;
  transition-duration:1s;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-e2f894ac-e6c3-47ff-8e80-b578119252f8]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:0 solid rgba(52,36,21,.35);
  border-left:0 solid rgba(52,36,21,.35);
  border-right:0 solid rgba(52,36,21,.35);
  border-top:1px solid rgba(52,36,21,.35);
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:65px;
  justify-content:space-between;
  margin:30px 0 0 0;
  padding:0 30px 0;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-935d9080-67ee-4b82-8f4e-9b1a8d8fca9c]{
  color:#1a1c19;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-b3d5898c-f91d-404d-ba85-6e3e723907b5]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:16px;
  justify-content:flex-end;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-8e78e7a7-c592-4c86-8337-0d597c4ae0b3]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-96fa7412-8e72-451d-bfe4-3259a9da89b8]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf]:hover .my_style_one[data-s-96fa7412-8e72-451d-bfe4-3259a9da89b8]{
  margin:0 -16px 0 0;
  max-width:calc(100% - -16px)
}
.my_style_one[data-s-b7eb1d44-904a-46b7-ad44-a997379bf4d6]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:calc(57% - 10px);
  justify-content:center;
  margin:10px 0 0 0;
  padding:0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:840px){
  .my_style_one[data-s-b7eb1d44-904a-46b7-ad44-a997379bf4d6]{
      flex:none;
      height:540px;
      width:100%;
      max-width:100%
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-b7eb1d44-904a-46b7-ad44-a997379bf4d6]{
      flex:none;
      flex-direction:column;
      flex-wrap:nowrap;
      height:auto;
      width:100%;
      max-width:100%
  }
}
.my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47]{
  align-content:flex-start;
  align-items:flex-start;
  background:#976c54;
  border-radius:30px;
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-end;
  margin:0 5px 0 0;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:auto;
  max-width:calc(100% - 5px)
}
.my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47].appear{
  opacity:0;
  transform:translate(0,30px);
  transition-delay:.6s;
  transition-duration:1s
}
.my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47]:hover{
  background:#976c54
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47].appear{
      transition-delay:0s
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47]{
      flex:none;
      height:auto;
      margin:0;
      max-width:100%
  }
}
.my_style_one[data-s-1747b149-a085-46e8-a22a-71c38e78cbe1]{
  align-content:center;
  align-items:center;
  border-radius:18px;
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  margin:15px 15px 30px;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:calc(100% - 30px);
  max-width:calc(100% - 30px)
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-1747b149-a085-46e8-a22a-71c38e78cbe1]{
      margin:10px 10px 30px;
      width:calc(100% - 20px);
      max-width:calc(100% - 20px)
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-1747b149-a085-46e8-a22a-71c38e78cbe1]{
      flex:none;
      height:260px;
      width:calc(100% - 20px);
      max-width:calc(100% - 20px)
  }
}
.my_style_one[data-s-dc31f34d-5143-4dd4-810c-72c3f1be6132]{
  border-radius:18px;
  flex:1;
  height:auto;
  margin:0 0 0;
  overflow-x:hidden;
  overflow-y:hidden;
  transition-duration:1s;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-5b8300e4-d587-4670-9da4-f3991cbc9293]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  padding:0 30px 0;
  width:731px;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-5b8300e4-d587-4670-9da4-f3991cbc9293]{
      padding:0 25px 0
  }
}
.my_style_one[data-s-f1ee0865-8714-48e3-894a-ebf402714dcf]{
  align-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  margin:0 0 30px 0;
  padding:0;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-8189c474-d3fb-4ab8-a1dc-692253955570]{
  align-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center;
  padding:0
}
.my_style_one[data-s-24753830-4bab-4555-a1c2-e0b645ab0450]{
  color:#342415;
  font-size:56px;
  font-weight:700;
  height:auto;
  letter-spacing:-.03em;
  line-height:1;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-24753830-4bab-4555-a1c2-e0b645ab0450]{
      font-size:43px
  }
}
.my_style_one[data-s-9165165a-198d-4c80-9bfc-04b4a3541906]{
  background:#342415;
  flex:none;
  height:4px;
  transform:scale(0,1);
  transform-origin:center left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-75ea8cf5-c1a4-4790-af7d-d7f1a5989fa2]{
  align-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  padding:0
}
.my_style_one[data-s-5795172d-bad6-4c39-a99b-755f7666d09c]{
  background:#342415;
  border-radius:50%;
  flex:none;
  height:30px;
  width:30px;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-5795172d-bad6-4c39-a99b-755f7666d09c]{
      flex:none;
      height:20px;
      width:20px;
      max-width:100%
  }
}
.my_style_one[data-s-0db450c6-b996-4f06-95ac-e81c7d2c348b]{
  background:#342415;
  border-radius:50%;
  flex:none;
  height:30px;
  width:30px;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-0db450c6-b996-4f06-95ac-e81c7d2c348b]{
      flex:none;
      height:20px;
      width:20px;
      max-width:100%
  }
}
.my_style_one[data-s-4b6201af-9d53-47b3-b3a6-7fed4d9f987a]{
  background:#342415;
  border-radius:50%;
  flex:none;
  height:30px;
  width:30px;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-4b6201af-9d53-47b3-b3a6-7fed4d9f987a]{
      flex:none;
      height:20px;
      width:20px;
      max-width:100%
  }
}
.my_style_one[data-s-e69f8c39-bd3a-41c8-a2fa-cceef655b618]{
  color:#342415;
  flex:none;
  font-size:14px;
  font-weight:500;
  height:auto;
  line-height:1.4;
  margin:0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-e69f8c39-bd3a-41c8-a2fa-cceef655b618]>p{
  margin:0
}
.my_style_one[data-s-dceb264b-e1e6-4f96-89a6-e79a01394bee]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:0 solid rgba(52,36,21,.35);
  border-left:0 solid rgba(52,36,21,.35);
  border-right:0 solid rgba(52,36,21,.35);
  border-top:1px solid rgba(52,36,21,.35);
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:65px;
  justify-content:space-between;
  margin:30px 0 0 0;
  padding:0 30px 0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-dceb264b-e1e6-4f96-89a6-e79a01394bee]{
      padding:0 25px 0
  }
}
.my_style_one[data-s-315fa809-7976-4a03-a09c-4fb814f9c60a]{
  color:#1a1c19;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-af12bc19-c8cc-48af-965f-c74a86e20cab]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:16px;
  justify-content:flex-end;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-3db1c590-9444-4b02-a7bb-9c6400e94046]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-e6ddc390-4c66-4db0-8fa8-0d2464121105]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-1ea15b7c-b95e-4eb8-9472-cc81daf25f47]:hover .my_style_one[data-s-e6ddc390-4c66-4db0-8fa8-0d2464121105]{
  margin:0 -16px 0 0;
  max-width:calc(100% - -16px)
}
.my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11]{
  align-content:center;
  align-items:center;
  background:#b5a38d;
  border-radius:30px;
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:100%;
  justify-content:flex-end;
  margin:0 0 0 5px;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:auto;
  max-width:calc(100% - 5px)
}
.my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11].appear{
  opacity:0;
  transform:translate(0,30px);
  transition-delay:.7s;
  transition-duration:1s
}
.my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11]:hover{
  background:#b5a38d
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11].appear{
      transition-delay:0s
  }
}
@media screen and (max-width:540px){
  .my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11]{
      margin:10px 0 0 0;
      max-width:100%;
      height:calc(100% - 10px)
  }
}
.my_style_one[data-s-cd917715-f463-4a4c-941d-2d530267f2ef]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:1;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:space-between;
  padding:30px 30px 0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-cd917715-f463-4a4c-941d-2d530267f2ef]{
      padding:25px 25px 0
  }
}
.my_style_one[data-s-d8b28982-2050-40a0-91b7-1fe8c4ceb81a]{
  align-content:flex-start;
  align-items:flex-start;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  padding:0;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-9163fd39-86ae-4c7a-a9d4-8125436d179b]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:1px solid #342415;
  border-left:1px solid #342415;
  border-radius:14px;
  border-right:1px solid #342415;
  border-top:1px solid #342415;
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  padding:0 5px 0;
  width:auto;
  max-width:100%
}
.my_style_one[data-s-5ff25ca4-03ee-4d86-9355-d6174e09f118]{
  color:#342415;
  font-size:18px;
  font-weight:400;
  height:auto;
  letter-spacing:-.04em;
  line-height:1;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-b164fbb6-a34b-49d7-aab2-6ef894b3d17a]{
  align-content:center;
  align-items:center;
  border-radius:50%;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:72px;
  justify-content:center;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:72px;
  max-width:100%
}
.my_style_one[data-s-54ab89dd-42aa-47c1-b60f-b936f42e2eff]{
  background:rgba(0,0,0,0);
  border-radius:0;
  flex:none;
  height:100%;
  transition-duration:1s;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-3bda08d4-d78c-4b4f-853c-fb8b50003fa6]{
  align-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center;
  margin:30px 0 50px 0;
  padding:0;
  max-width:100%
}
@media screen and (max-width:540px){
  .my_style_one[data-s-3bda08d4-d78c-4b4f-853c-fb8b50003fa6]{
      margin:20px 0 50px 0;
      max-width:100%
  }
}
.my_style_one[data-s-61076b5d-7a80-41fe-bfab-f6f6589de88d]{
  color:#342415;
  flex:none;
  font-size:16px;
  font-weight:400;
  height:auto;
  line-height:1.1;
  margin:0 0 30px 0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-61076b5d-7a80-41fe-bfab-f6f6589de88d]>h2{
  letter-spacing:-.04em;
  margin:0
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-61076b5d-7a80-41fe-bfab-f6f6589de88d]>h2{
      font-size:28px
  }
}
.my_style_one[data-s-5105db2a-55e5-4052-899c-deb03a0e144f]{
  color:#342415;
  flex:none;
  font-size:14px;
  font-weight:500;
  height:auto;
  line-height:1.4;
  margin:0;
  padding:0 0 0;
  text-align:left;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-5105db2a-55e5-4052-899c-deb03a0e144f]>p{
  margin:0
}
.my_style_one[data-s-527ba3c5-d444-48a9-b538-8bf4f24baa14]{
  align-content:flex-start;
  align-items:flex-start;
  background:rgba(0,0,0,0);
  flex:none;
  flex-direction:column;
  flex-wrap:nowrap;
  height:auto;
  justify-content:flex-start;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-51412175-cd22-4d32-9e55-770bec4389ac]{
  background:#1a1c19;
  flex:none;
  height:2px;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-c61bcb42-8acc-4526-85ea-13c56a1b0144]{
  align-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  padding:10px 0 10px;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-d178f963-211b-47a8-9241-4d59fa26cb6d]{
  color:#1a1c19;
  flex:none;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:left;
  width:50%;
  max-width:50%;
  justify-content:flex-start
}
.my_style_one[data-s-e73c967b-08e8-426e-b5b6-4f8a190eb78e]{
  color:#1a1c19;
  flex:none;
  font-size:14px;
  font-weight:700;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:left;
  width:50%;
  max-width:50%;
  justify-content:flex-start
}
@media screen and (max-width:840px){
  .my_style_one[data-s-e73c967b-08e8-426e-b5b6-4f8a190eb78e]{
      text-align:right;
      justify-content:flex-end
  }
}
.my_style_one[data-s-2741811e-8e11-4dac-aca4-e91f95673e43]{
  background:#1a1c19;
  flex:none;
  height:2px;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-24e5d877-6c53-4233-929d-2859d11bb4c1]{
  background:#1a1c19;
  flex:none;
  height:2px;
  margin:6px 0 0 0;
  width:100%;
  max-width:100%
}
.my_style_one[data-s-3c8a2c24-f801-4d3f-9055-6d2f6323f6c6]{
  align-content:center;
  align-items:center;
  background:rgba(0,0,0,0);
  border-bottom:0 solid rgba(52,36,21,.35);
  border-left:0 solid rgba(52,36,21,.35);
  border-right:0 solid rgba(52,36,21,.35);
  border-top:1px solid rgba(52,36,21,.35);
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:65px;
  justify-content:space-between;
  margin:30px 0 0 0;
  padding:0 30px 0;
  width:100%;
  max-width:100%
}
@media screen and (max-width:1140px){
  .my_style_one[data-s-3c8a2c24-f801-4d3f-9055-6d2f6323f6c6]{
      padding:0 25px 0
  }
}
.my_style_one[data-s-c09dfbf5-a0de-4245-9971-61f5fde447a4]{
  color:#342415;
  font-size:14px;
  font-weight:500;
  height:auto;
  letter-spacing:-.02em;
  line-height:1.4;
  text-align:center;
  width:auto;
  max-width:100%;
  justify-content:center
}
.my_style_one[data-s-3663097d-fade-4ab3-8774-27e3fa118206]{
  align-content:center;
  align-items:center;
  flex:none;
  flex-direction:row;
  flex-wrap:nowrap;
  height:16px;
  justify-content:flex-end;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:0;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-b9af2ae3-58df-413a-bf67-adbfa7b37365]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-974104bc-a10b-4a6f-95fb-e5603497efd9]{
  color:#342415;
  flex:none;
  font-size:16px;
  height:16px;
  width:16px;
  max-width:100%
}
.my_style_one[data-s-77773e0b-77a2-461f-baf1-e7d8a99e8a11]:hover .my_style_one[data-s-974104bc-a10b-4a6f-95fb-e5603497efd9]{
  margin:0 -16px 0 0;
  max-width:calc(100% - -16px)
}
body{
  background:#1a1c19;
  transition:background .5s cubic-bezier(.4,.4,0,1)
}
